DATABASE_URL=
VERIFY_TOKEN=
WHATSAPP_TOKEN=
PHONE_NUMBER_ID=
WHATSAPP_MUELL_TEMPLATE=muellabfuhr_erinnerung
WHATSAPP_TEMPLATE_LANGUAGE=de

EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_TO=

DASHBOARD_USER=
DASHBOARD_PASSWORD=
DASHBOARD_SESSION_SECRET=
